
<h3 class="text-center mt-4">Article Details</h3>
<div class="row justify-content-md-center">

<div class="col-8 mt-4">


<div class="card text-center shadow mb-5 bg-white rounded">
  <h5 class="card-header font-italic"> by <%=@article.Author %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-title "><%= @article.description %></p>

    <%if logged_in? && @article.user == current_user%>
    <%=link_to 'edit', edit_article_path(@article),class:"btn btn-outline-info"%>
    <%=link_to 'delete', article_path(@article), data:{confirm: "are you sure you want ro delete "},class:"btn btn-outline-danger"%>

    <%else%>
    <%end%>
  </div>
</div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
